@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Oi&display=swap');
@import 'tailwindcss';
@variant dark (&:where(.dark, .dark *));

body {
  font-family: 'Inter', sans-serif;
}
.font-oi {
  font-family: 'Oi', cursive;
}
@theme {
  --color-background: oklch(98.5% 0 0);
  --color-background-fade: oklch(97% 0 0);
  --color-foreground: oklch(14.5% 0 0);
  --color-foreground-fade: oklch(20.5% 0 0);

  --radius-box: 0.625rem;
  --radius-card: 1.25rem;

  --text-large:1.1rem;
  --text-mid:0.875rem;
  --text-small:0.75rem;
}
.dark {
  --color-background: oklch(14.5% 0 0);
  --color-background-fade: oklch(20.5% 0 0);
  --color-foreground: oklch(98.5% 0 0);
  --color-foreground-fade: oklch(97% 0 0);
}

@layer utilities{
  .bdr-box {
    border-color: color-mix(in srgb, var(--color-foreground) 7%, transparent);
  }
}
@layer components{
  .textStyle-heading{
    @apply text-base sm:text-lg text-foreground
  }
  .textStyle-subHeading{
    @apply text-xs sm:text-sm  text-foreground/40
  }
  
}

.no-scrollbar {
  scroll-behavior: smooth;
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* IE/Edge */
}

.no-scrollbar::-webkit-scrollbar {
  display: none; /* Chrome/Safari */
}